backoff
beautifulsoup4
cryptography
datetime
docutils
HTMLParser
ipython
ipywidgets
logging
js
json5
numpy
openai
pandas
playwright
pyOpenSSL
python-dotenv
python_dateutil
readability_lxml
redis
requests
simplejson
thread
tqdm
typing_extensions
zstandard