attr
backoff
beautifulsoup4
cryptography
docutils
HTMLParser
ipython
ipywidgets
js
json
json5
numpy
openai
pandas
playwright
pyOpenSSL
python-dotenv
python_dateutil
readability_lxml
redis
simplejson
thread
tqdm
typing_extensions
zstandard